@media (max-width: 767px) {

    .carousel-item {
        min-height: 500px;
    }

    .carousel-item img {
        height: 500px;
    }

    .carousel-caption {
        bottom: 30px;
    }

    .carousel-caption h5 {
        font-size: 50px;
        margin-top: 0;
    }

    .carousel-caption p {
        width: 100%;
        font-size: 16px;
    }

    .services {
        padding: 30px 0;
    }

    .product {
        padding: 30px 0 0 0;
    }

    .banner {
        margin-bottom: 30px;
    }

}