.contact-page .content-wrapper {
    flex: 1;
}


.contact-page .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.contact-page .contact {
    padding: 40px 0;
    text-align: center;
}

.contact-page .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #343a40;
}

.contact-page .contact form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-page .contact .form-group {
    margin-bottom: 15px;
}

.contact-page .contact .form-control {
    border-radius: 5px;
}

.contact-page .contact .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
}

.service-img {
    width: auto;
    height: auto;
}